<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Explore some of my recent projects.
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail6.png" alt="Resume Builder">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">Spring Data MongoDB</span>
                            <span class="project-tag">Razorpay</span>
                            <span class="project-tag">JWT</span>
                            <span class="project-tag">REST APIs</span>
                            <span class="project-tag">Mongodb Altas</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Build Resume Builder Application with Spring Boot</h3>
                        <p class="project-description">
                            A smart Resume Builder application that allows users to create, edit, and download professional resumes with ease. Designed with a clean UI and real-time preview, it simplifies resume creation for students and job seekers. </p>
                        <div class="project-links">
                            <a href="https://github.com/RajatPandey10/Resume_Builder_Backend" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://resumebuilderapi.netlify.app/" class="project-link">
                                Live Demo <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail5.png" alt="Smart Email Assistant">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">React</span>
                            <span class="project-tag">Tailwind CSS</span>
                            <span class="project-tag">Intellij</span>
                            <span class="project-tag">Vs Code</span>
                            <span class="project-tag">Gemini API</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Smart Email Assistant</h3>
                        <p class="project-description">
                            Developed a full-stack AI-powered web application that generates smart email replies in various  tones
                            (Professional, Casual, Friendly, Neutral) using Gemini API </p>
                        <div class="project-links">
                            <a href="https://github.com/RajatPandey10/Smart_Email_Assistant_Frontend" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://dancing-hummingbird-76fbba.netlify.app/" class="project-link">
                                Live Demo <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail4.png" alt="Chat Application">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Thymeleaf</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">IntelliJ IDEA</span>
                            <span class="project-tag">HTML</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Online Chat Application</h3>
                        <p class="project-description">
                            A simple real-time chat application built using Java + HTML. It allows multiple users to connect and chat with each other in real time over network (local / LAN / internet).</p>
                        <div class="project-links">
                            <a href="https://github.com/RajatPandey10/Chat_Application" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>

                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail3.png" alt="To-Do Application">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">Thymeleaf</span>
                            <span class="project-tag">Bootstrap</span>
                            <span class="project-tag">H2-Database</span>
                            <span class="project-tag">HTML</span>
                            <span class="project-tag">IntelliJ IDEA</span>

                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Spring Boot Todo list</h3>
                        <p class="project-description">
                            A simple Spring Boot CRUD application to manage daily tasks, with a clean user interface using Thymeleaf and H2 Database for persistence.</p>
                        <div class="project-links">
                            <a href="https://github.com/RajatPandey10/Todo-Application-" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</th:block>
</html>